<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>vue-resource</title>
	<script src="vue.js"></script>
	<script src="https://cdn.bootcss.com/vue-resource/1.3.4/vue-resource.js"></script>
	<link rel="stylesheet" href="bootstrap.css">
</head>
<body>
	<div id="app" class="container">
		<div>
			<table class="table table-bordered">
				<caption><h2 class="text-center text-info">书目清单</h2></caption>
				<tr>
					<th class="text-center text-danger">序号</th>
					<th class="text-center text-danger">书名</th>
					<th class="text-center text-danger">作者</th>
					<th class="text-center text-danger">价格</th>
					<th class="text-center text-danger">操作</th>
				</tr>
				<tr class="text-center" v-for="(item,index) in myData">
					<td>{{index+1}}</td>
					<td>{{item.name}}</td>
					<td>{{item.author}}</td>
					<td>{{item.price}}</td>
					<td><button class="btn btn-danger btn-sm" @click="del(index)">删除</button></td>
				</tr>
				<tr>
					<td colspan="5" class="text-right" v-show="myData.length!=0"><button class="btn btn-danger btn-sm" @click="del(-2)">删除全部</button></td>	
					<td colspan="5" v-show="myData.length==0" class="text-center text-muted">暂无数据...</td>
				</tr>
			</table>
			<form role="form" class="form">
				<div class="form-group">
					<label for="name"><h4>书名</h4></label>
					<input type="text" class="form-control" placeholder="输入书名" v-model="name">
				</div>
				<div class="form-group">
					<label for="name"><h4>作者</h4></label>
					<input type="text" class="form-control" placeholder="输入作者" v-model="author">
				</div>
				<div class="form-group">
					<label for="name"><h4>价格</h4></label>
					<input type="text" class="form-control" placeholder="输入价格" v-model="price">
				</div>
				<div class="form-group">
					<input type="button" value="确定" class="btn btn-success form-control" @click="add">
				</div>
				<div class="form-group">
					<input type="reset" value="重置" class="btn btn-danger form-control">
				</div>
			</form>
		</div>
	</div>
</body>
<script>
	var app=new Vue({
		el:'#app',
		data:{
			myData:[],
			name:'',
			author:'',
			price:'',
		},
		methods:{
			add:function(){
				this.myData.push({
					name:this.name,
					author:this.author,
					price:this.price
				})
				this.name='';
				this.author='';
				this.price='';

			},
			del:function(index){
				if(index==-2){
					this.myData=[];
				}else{
					this.myData.splice(index,1);
				}
			},
		}
	})
</script>
</html>

